/*
////////////////////////////////////////
    This Utility is Designed By: 
        ---> KAZI TAJNUR ISLAM
////////////////////////////////////////
*/

/*
///////////////////////////////
    Google Font - Poppins
///////////////////////////////
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


/*
///////////////////////////////////////////////
    Resetting All Browser's Default Styles
///////////////////////////////////////////////
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.15;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


/*
/////////////////////////
    Custom Variables
/////////////////////////
*/
:root {
    /* Colors */
    --primary: #292B4D;
    --secondary: #17CBF9;
    --ltgray: #d9dfdb;

    /* Sizes */
    --regular: 16px;
    --medium: 18px;
    --large: 20px;
    --extra-large: 25px;
}


/*
///////////////////////////////
    Setting Default Styles
///////////////////////////////
*/
body {
    background-color: var(--ltgray);
}
a{
    text-decoration: none;
}


/*
///////////////////////
    Utility Styles
///////////////////////
*/
/* Display Styles */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}

/* Element Alignment */
.h-center {
    justify-content: center;
}
.h-space {
    justify-content: space-between;
}
.v-center {
    align-items: center;
}

/* Background Styles */
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}

/* Text Styles */
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-bold {
    font-weight: 700;
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.text-gray {
    color: var(--ltgray);
}

/* Width Styles */
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}

/* Border Radius Styles */
.rad-5 {
    border-radius: 5px;
}
.rad-10 {
    border-radius: 10px;
}
.circle {
    border-radius: 50%;
}

/* Box Shadow Style  */
.shadow {
    box-shadow: 0 0 7px #b4b3b3;
}

/* Cursor Style  */
.cursor {
    cursor: pointer;
}

/* Border Styles  */
.b-1 {
    border: 1px solid var(--primary);
}
.b-2 {
    border: 2px solid var(--primary);
}

/* Padding Styles */
/* Padding All */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 5px;
}
.p-2 {
    padding: 10px;
}
.p-3 {
    padding: 15px;
}
.p-4 {
    padding: 20px;
}
.p-5 {
    padding: 25px;
}
/* Padding Top  */
.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: 5px;
}
.pt-2 {
    padding-top: 10px;
}
.pt-3 {
    padding-top: 15px;
}
.pt-4 {
    padding-top: 20px;
}
.pt-5 {
    padding-top: 25px;
}
/* Padding Bottom */
.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: 5px;
}
.pb-2 {
    padding-bottom: 10px;
}
.pb-3 {
    padding-bottom: 15px;
}
.pb-4 {
    padding-bottom: 20px;
}
.pb-5 {
    padding-bottom: 25px;
}
/* Padding Left */
.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 5px;
}
.pl-2 {
    padding-left: 10px;
}
.pl-3 {
    padding-left: 15px;
}
.pl-4 {
    padding-left: 20px;
}
.pl-5 {
    padding-left: 25px;
}
/* Padding Right  */
.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: 5px;
}
.pr-2 {
    padding-right: 10px;
}
.pr-3 {
    padding-right: 15px;
}
.pr-4 {
    padding-right: 20px;
}
.pr-5 {
    padding-right: 25px;
}
/* Padding X-axis */
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}
.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}
.px-4 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-5 {
    padding-left: 25px;
    padding-right: 25px;
}
/* Padding Y-axis */
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-5 {
    padding-top: 25px;
    padding-bottom: 25px;
}


/* Margin Styles */
/* Margin All */
.m-0 {
    margin: 0;
}
.m-1 {
    margin: 10px;
}
.m-2 {
    margin: 20px;
}
.m-3 {
    margin: 30px;
}
.m-4 {
    margin: 40px;
}
.m-5 {
    margin: 50px;
}
.m-6 {
    margin: 60px;
}
.m-7 {
    margin: 70px;
}
.m-8 {
    margin: 80px;
}
.m-9 {
    margin: 90px;
}
.m-10 {
    margin: 100px;
}
/* Margin Top  */
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}
.mt-6 {
    margin-top: 60px;
}
.mt-7 {
    margin-top: 70px;
}
.mt-8 {
    margin-top: 80px;
}
.mt-9 {
    margin-top: 90px;
}
.mt-10 {
    margin-top: 100px;
}
/* Margin Bottom */
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}
.mb-6 {
    margin-bottom: 60px;
}
.mb-7 {
    margin-bottom: 70px;
}
.mb-8 {
    margin-bottom: 80px;
}
.mb-9 {
    margin-bottom: 90px;
}
.mb-10 {
    margin-bottom: 100px;
}
/* Margin Left */
.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}
.ml-5 {
    margin-left: 50px;
}
.ml-6 {
    margin-left: 60px;
}
.ml-7 {
    margin-left: 70px;
}
.ml-8 {
    margin-left: 80px;
}
.ml-9 {
    margin-left: 90px;
}
.ml-10 {
    margin-left: 100px;
}
/* Margin Right  */
.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.mr-4 {
    margin-right: 40px;
}
.mr-5 {
    margin-right: 50px;
}
.mr-6 {
    margin-right: 60px;
}
.mr-7 {
    margin-right: 70px;
}
.mr-8 {
    margin-right: 80px;
}
.mr-9 {
    margin-right: 90px;
}
.mr-10 {
    margin-right: 100px;
}
/* Margin X-axis */
.mx-0 {
    margin-left: 0;
    margin-right: 0px;
}
.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}
.mx-4 {
    margin-left: 40px;
    margin-right: 40px;
}
.mx-5 {
    margin-left: 50px;
    margin-right: 50px;
}
.mx-6 {
    margin-left: 60px;
    margin-right: 60px;
}
.mx-7 {
    margin-left: 70px;
    margin-right: 70px;
}
.mx-8 {
    margin-left: 80px;
    margin-right: 80px;
}
.mx-9 {
    margin-left: 90px;
    margin-right: 90px;
}
.mx-10 {
    margin-left: 100px;
    margin-right: 100px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
/* Margin Y-axis */
.my-0 {
    margin-top: 0;
    margin-bottom: 0px;
}
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-6 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.my-7 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.my-8 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.my-9 {
    margin-top: 90px;
    margin-bottom: 90px;
}
.my-10 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.my-auto {
    margin-left: auto;
    margin-right: auto;
}



/*
/////////////////////////
    Header Styles
/////////////////////////
*/
nav {
    position: sticky;
    top: 0;
    width: 100%;
}
#company-image {
    width: 50px;
    margin-right: 10px;
}

#search-field {
    width: 400px;
    margin: 2px;
    font-size: 16px;
}

#nav-items>li {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    color: var(--ltgray);
    padding: 15px;
    transition: 0.3s ease-in;
}
#nav-items>li:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

#category:hover > ul {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
#category>ul {
    position: absolute;
    top: 52px;
    left: 144px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--primary);
}
#category>ul>li {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--ltgray);
    padding: 10px 20px;
    transition: 0.3s ease-in;
}
#category>ul>li:hover {
    background-color: var(--secondary);
    color: var(--primary);
}



/*
/////////////////////////
    Footer Styles
/////////////////////////
*/